<div class="sidebar">
    <div class="sidebar-about">
      <h1>
        {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/index.html">About Me</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/academics.html">Academics</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/programming.html">Programming & Projects</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/music.html">Music</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/research.html">Research</a>
        <a class="sidebar-nav-item" href="https://www.rcdesignbureau.com/">My Startup</a>

    </nav>

    <br>
    <p>Thanks for visiting my website! <br> Made with &#x1F496 and without JS or dataloggers.</p>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.github_username }}. All rights reserved. </p>

    <sidebar-footer>
        <a href="https://github.com/albonec" target="_blank" rel="noopener noreferrer"><img src="/assets/images/gh-icon.png" width="64px" height="64px" alt="blurple_github"></a> &#10240 &#10240
        <a href="mailto:agbonecchi@gmail.com"><img src="/assets/images/gmail-icon.png" width="64px" height="64px" alt="Gmail"></a> &#10240 &#10240
        <a href="https://www.linkedin.com/in/alessandro-bonecchi-42999b275/?original_referer=" target="_blank" rel="noopener noreferrer"><img src="/assets/images/linkedin-logo.png" width="64px" height="64px" alt="Linkedin_logo"></a>
    </sidebar-footer>
</div>
