<div class="sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/index.html">Home</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/academics.html">Academics</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/programming.html">Programming & Projects</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/music.html">Music</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/research.html">Research</a>
        <a class="sidebar-nav-item" href="https://www.rcdesignbureau.com/">My Startup</a>
        <a class="sidebar-nav-item" href="mailto:agbonecchi@gmail.com">Contact</a>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</div>
